/* Base Application Styles */
body {
    background: linear-gradient(to bottom, #DDD, #FFF);
}
.active {
	color: green;
}

.nav{
	display: flex;
	transform: rotate(2deg);
	border-radius: 50%;
}